article #download {
    height: 100vh;
}

#download #download-header {
    display: grid;
    padding-inline: 20rem;
    text-align: center;
    grid-template-rows: 4rem 8rem;
    grid-template-areas: "title"
        "paragraph";
}

#download h2 {
    grid-area: title;
    font-size: 2rem;
}

#download #download-header p {
    grid-area: paragraph;
    padding-inline: 8rem;
}

#download-containers {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 14rem;
    height: 30rem;
    justify-content: space-evenly;
}

.container {
    display: grid;
    overflow: hidden;
    height: 22.375rem;
    justify-items: center;
    grid-template-rows: 9.375rem 2rem 4rem 1rem 6rem;
    grid-template-areas: "logo"
        "title"
        "version"
        "separator"
        "install";
    align-items: center;
    box-shadow: .1rem 0.2rem 1rem 0px hsl(227, 30%, 85%);
    border-radius: 1rem;
}

.container .dots {
    grid-area: separator;
}

.container .logo {
    grid-area: logo;
}

.container h3 {
    grid-area: title;
}

.container p {
    grid-area: version;
    font-size: 0.95rem;
}

.container button {
    grid-area: install;
    width: 80%;
    height: 55%;
    background-color: hsl(231, 69%, 60%);
    color: white;
    border: 2px solid hsl(231, 69%, 60%);
    border-radius: 0.4rem;
}

.container button:active {
    background-color: transparent;
    color: hsl(231, 69%, 60%);
}

#download-chrome {
    align-self: flex-start;
}

#download-firefox {
    align-self: center;
}

#download-opera {
    align-self: flex-end;
}