header {
    padding: 3rem 9rem;
    display: grid;
    height: 29.125rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem 10rem 5rem;
    grid-template-areas: "title illustration"
        "par illustration"
        "buttons illustration";
}

header h1 {
    grid-area: title;
    font-size: 3rem;
    padding-right: 5rem;
}

header p {
    grid-area: par;
    padding-right: 5rem;
}

header .buttons {
    grid-area: buttons;
}

header .buttons button {
    height: 2.5rem;
    width: 12rem;
    border: 2px solid hsl(231, 69%, 60%);
    border-radius: 0.3rem;
    margin-right: 0.825rem;
}

header .buttons button:first-child {
    background-color: hsl(231, 69%, 60%);
    color: white
}

header .buttons button:first-child:active {
    background-color: transparent;
    color: hsl(231, 69%, 60%);
}

header .buttons button:last-child {
    background-color: hsl(228, 9%, 90%);
    border-color: hsl(228, 9%, 90%);
    color: hsl(231, 5%, 30%);
    box-shadow: 0.1rem 0.2rem 0.5rem 0px hsl(229, 8%, 60%);
}

header .buttons button:last-child:active {
    background-color: transparent;
    border-color: hsl(231, 5%, 30%);
    color: hsl(231, 5%, 30%)
}


header img {
    position: absolute;
    grid-area: illustration;
    right: 3rem;
    justify-self: end;
}

header div:last-child {
    position: relative;
    grid-area: illustration;
    height: 24rem;
    width: 31rem;
    border-bottom-left-radius: 10rem;
    justify-self: end;
    right: -9rem;
    top: 8rem;
    z-index: -1;
    background-color: hsl(231, 69%, 60%);
}